*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
body{
     font-family: Arial, Helvetica, sans-serif;
}

.parent {
     background-color: #EEE;
     width: 600px;
     margin: 20px auto;
     padding: 20px;

}
.parent input {
     border: none;
     padding: 15px;
     margin-bottom: 15px;
     width: 100%;
     font-size: 20px;
}
.parent input:focus {
     outline: none;
}
.parent .buttons {
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.parent .buttons span {
     background-color: #009688;
     text-align: center;
     font-size: 14px;
     font-weight: bold;
     color: #FFF;
     padding: 6px 10px ;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
     cursor: pointer;
}
.parent .results {
     background-color: #FFF;
     padding: 20px;
     margin-top: 15px;
     border: 2px dashed #EEE;
     text-align: center;

}
.parent .results span span{
     font-weight: bold;
     color: #009688;
}